*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    position:fixed;
    height:100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 250px;
    left:0;
    top:0;
}
.logo{
    padding: 10px;
    margin-left: 10px;
}
.details{
    display: flex;
    flex-wrap: wrap;
}
.data{
    width:33.33%;
    padding: 5px;
}
label{
    display: block;
    padding: 5px;
}
.emp-main{
    margin-left: 250px;
    width: calc(100%-200px);
    background-color: rgb(248, 246, 246);
    margin-top: 50px;
    padding-top: 5px;
    height: 100vh;

}
.heading{
    padding: 20px;
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section{
    color: rgb(66, 66, 66);
    font-size: 0.9rem;
}
.details input{
    width:85%;
    margin:10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form select{
    width:85%;
    margin:10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: rgb(99, 99, 99);
}
.emp-form{
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
}
.emp-list{
    background-color: rgb(0, 162, 255);
    padding: 15px;
    border-top-left-radius: 90px 90px;
    border-bottom-left-radius: 90px 90px;
    margin-left: 10px;
    margin-top: 20px;
   
}
.emp-list a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    
}
.emp-list-link{
    padding-top: 5px;
}
.buttons{
    display: flex;
    width:25%;
}
.buttons input{
    height: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    margin:10px;
    cursor: pointer;
}
.createb{
    background-color: rgb(0, 162, 255);
    color: white;
}
.cancel{
    background-color: white;
}
.listImg{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    
}
.list{
    display: flex;
}
